@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: variaveis.$corDeFundoGeral;
    transition: background-color .5s ease;

    &--is-hidden {
        background-color: transparent;
        transition: background-color 2s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
                cursor: default;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }
    
    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        padding: 14px 0;
        transition: opacity .5s ease;

            @media (max-width: 768px) {
                max-width: 64px;
                padding: 0;
            }
    }

    &__links {
            display: flex;

        &__item {
            margin: 5px;
            list-style: none;
            transition: opacity .5s ease;
        }
    }
}