.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    @media (max-width: 768px) {
        padding: 10vw 5vw;

        .button {
            margin-top: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        
        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media (max-width: 768px) {
                display: block;
                margin: 0 0 44px 0;
                padding: 0;

            }

            &:nth-child(2) {
                background: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}